<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @notification.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification.user %>
</p>

<p>
  <strong>Order:</strong>
  <%= @notification.order %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
