<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @order.From %>
</p>

<p>
  <strong>Friends:</strong>
  <%= @order.Friends %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
